Repository gerbiljames/Archipelago-Crystal, pull requests merged in 2025-03, with the labels that each got.

#95 Add information about Phone Data
  worlds/pokemon_crystal/phone_data.md
  worlds/pokemon_crystal/phone_data.py
Labels: documentation

#97 Adds new Birthday Phone Trap
  worlds/pokemon_crystal/phone_data.py
Labels: phone trap

#82 Move Randomizer
  worlds/pokemon_crystal/__init__.py
  worlds/pokemon_crystal/moves.py
  worlds/pokemon_crystal/options.py
  worlds/pokemon_crystal/rom.py
Labels: enhancement

#83 Boost system to Trainer Pokemons is implemented
  worlds/pokemon_crystal/__init__.py
  worlds/pokemon_crystal/moves.py
  worlds/pokemon_crystal/options.py
  worlds/pokemon_crystal/trainers.py
Labels: enhancement

#89 Adds a call about Edna Mode from The Incredibles complaining about Lance's cape
  worlds/pokemon_crystal/phone_data.py
Labels: phone trap

#90 Adds the beginning portion of the Flareon copypasta as a phone trap
  worlds/pokemon_crystal/phone_data.py
Labels: phone trap

#93 Adds some lines to the "Call your Mother" song as a phone trap.
  worlds/pokemon_crystal/phone_data.py
Labels: phone trap

#94 Adds a phone call about a new Digglet discovery to the phone trap.
  worlds/pokemon_crystal/phone_data.py
Labels: phone trap
